#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myVideo {
    width: 50%;
    border-radius: 50%;
}
#video {
    width: 100%;
}
#aboutUs {
    margin-top: 30px;
    width: 800px;
    font-family: Serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}